@import "../../../style/variable";

.main-quiz-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  margin-bottom: 24px;
  h3{
    font-size: $text-3xl;
    color: $grey-600-color;
  }
}

.main-quiz{
  width: 100%;
}

.header_wrapper{
  display: flex;
  gap: 45px;
  margin-bottom: 25px;
  align-items: flex-start;
  .right-content {
    h5{
      font-size: $text-xl;
      color: $grey-600-color;
    }
    p{
      color: $grey-600-color;
      font-size: $text-lg;
    }
  }
}

.additional{
  color: $grey-600-color;
  margin-bottom: 25px;
  h5{
    font-weight: 600;
    font-size: 23px;
    margin-bottom: 25px;
  }
  .input-wrapper{
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  .custom-radio{
    p{
      color: $grey-600-color;
      font-size: $text-lg;
    }
  }
}

.Btn-wrapper{
  width: 100%;
  display: flex;
  justify-content: space-between;
  .btn-able{
    cursor: pointer;
    border: none;
    border-radius: 30px;
    background: $primary-color;
    font-size: $text-1lg;
    font-weight: 600;
    padding: 17px 56px;
    color: white;
  }
  .btn-disable{
    cursor: not-allowed;
    border: none;
    border-radius: 30px;
    background: #8692A650;
    font-size: $text-1lg;
    font-weight: 600;
    padding: 17px 56px;
    color: white;
  }
}

.popUp-wrapper{
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #696F7980;
  left: 0;
  top: 0;
  .popUp{
    width: 400px;
    height: 400px;
    background: #FFFFFF;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 69px 0;
    .question-mark{
      width: 88px;
      height: 88px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 100px;
      box-shadow: 0 10px 30px #00000025;
      color: #FFFFFF;
      background: #4B5548;
      font-size: 48px;
    }
    .context{
      text-align: center;
      font-size: 16px;
    }
    .btn-wrapper{
      width: 65%;
      display: flex;
      justify-content: space-between;
      button{
        cursor: pointer;
        background: transparent;
        font-weight: bold;
        font-size: 16px;
      }
    }
    a{
      cursor: pointer;
      background: transparent;
      font-weight: bold;
      font-size: 16px;
      color: #000000;
    }
  }
}