//colors
$primary-color: #8692A6;
$grey-600-color: #696F79;
$grey-300-color: #F5F5F5;
$grey-400-color: #EDEDED;

//fonts
$text-sm: 14px;
$text-md: 16px;
$text-lg: 18px;
$text-1lg: 19px;
$text-xl: 24px;
$text-3xl: 30px;
$text-4xl: 37px;

//screen
$screen-sm: 640px;
